<!--indexOff: all-->
<header>
  <div class="container-fluid">
    <div class="container">
      <div class="header-container__top">
        {{{blocks.image}}}
        <h1 class="block siteName" data-cid="1.260060">   
          <a data-cid="1.260060" href={{kursinfoadmin.url}}>{{kursinfoadmin.title}}</a>
        </h1>
        <div class="block list links defaultTheme secondaryMenu" data-cid="1.865038" lang="sv-SE">
          {{{blocks.language}}}
        </div>
    </div>
  </div>
  <div id="gradientBorder"></div>
</header>
<!--indexOn: all-->
