@use '~@kth/style/scss/utils/layers.scss';
@use '~@kth/style/scss/utils/reset.scss';
@use '~@kth/style/scss/utils/mixins.scss';
@use '~@kth/style/scss/utils/prose.scss';

@use '~@kth/style/scss/tokens/typography.scss';
@use '~@kth/style/scss/tokens/colors.scss';

@use '~@kth/style/scss/components/logotype.scss';
@use '~@kth/style/scss/components/search.scss';
@use '~@kth/style/scss/components/alert.scss';
@use '~@kth/style/scss/components/footer.scss';
@use '~@kth/style/scss/components/mega-menu.scss';
@use '~@kth/style/scss/components/visually-hidden.scss';
@use '~@kth/style/scss/components/button.scss';
@use '~@kth/style/scss/components/header.scss';
@use '~@kth/style/scss/components/mobile-menu.scss';
@use '~@kth/style/scss/components/menu-item.scss';
@use '~@kth/style/scss/components/menu-panel.scss';
@use '~@kth/style/scss/components/content.scss';
@use '~@kth/style/scss/components/local-navigation.scss';
@use '~@kth/style/scss/components/kpm.scss';

@import 'node_modules/kth-style/public/sass/custom/common/icons';

@import 'shared';
@import 'preview';
@import 'table';

.kth-alert {
  margin-bottom: 32px;
}

.control-panel {
  .kth-alert {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  &.fixed-bottom {
    background-color: var(--color-background);
    border-top: 1px solid var(--color-border);

    .control-buttons {
      margin-top: 0px;
      border-top: none;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.memo-container {
  .tab-bar-container .nav.nav-tabs {
    border-bottom: solid 1px var(--color-border);

    .nav-link {
      padding-right: 16px;
      padding-left: 16px;
      color: var(--color-text);
      border-color: var(--color-border);

      &.active {
        font-weight: 700;
        background-color: var(--color-background);
        border-bottom: solid 1px var(--color-background);
      }
    }
  }
  .memo-content-row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .sticky-tabs-container {
    background-color: var(--color-background);
    z-index: 1;

    .white-space-under-tabs {
      // under sticky tab white space
      height: 30px;
      border-right: 1px solid var(--color-border);
      border-left: 1px solid var(--color-border);
    }
  }

  .memo-content.tab-content {
    border-color: var(--color-border);
    border-radius: 0;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top: none;
    border-bottom: none;

    @media (min-width: 992px) {
      padding-bottom: 80px;
      border-right: none;
    }

    .tab-pane {
      padding-top: 0;
    }
  }

  .sticky-overview {
    border: 1px solid var(--color-border);
    border-top: none;
    border-bottom: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 120px;

    @media (max-width: 991px) {
      // hacks to disable sticky section menu in smaller screens
      // TODO: a better solution might be to refactor the sticky feature completly and use position:sticky instead of react-sticky package
      // hack 1: override position set by react-sticky
      .sticky-section-menu-container {
        position: static !important;
        transform: none !important;
        width: auto !important;
        margin-top: 0 !important;
      }
      & > div:first-child > div:first-child {
        // hack 2: remove space from extra div added by react-sticky
        padding-bottom: 0 !important;
      }
    }

    .content-overview {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      position: relative;

      .nav-link-to-content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

span.section-info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.section_info_visibility_label {
  margin: 20px 0;
  .form-check.form-group {
    margin: 0;
  }
}

.section_info_visibility_icon {
  background-image: url('https://app.kth.se/style/static/kth-style/img/kth-style/icons/eye-off-black.svg');
  background-repeat: no-repeat;
  height: 16px;
  width: 20px;
}

.person {
  img {
    vertical-align: middle;
    margin-right: 6px;
  }
}
.person + .person {
  margin-top: 14px;
}

.First--Step--Choose--Parameters {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  h2 {
    margin-bottom: 1rem;
  }
  h3 {
    margin-bottom: 0.5rem;
  }

  label {
    @include typography.font-heading-xs;
    display: block;
    margin-bottom: 0.25rem;
    & + p {
      margin-bottom: 1rem;
    }
  }

  #menu-link-directory {
    color: #006cb7;
    margin: 0;
    padding: 0;
    &:hover {
      color: #006cb7;
    }
  }

  .preview-content-separation {
    margin-top: 30px;
    height: 6px;
    background-image: linear-gradient(to left, #005ea4, #5c98c4);
  }

  h4.secondTitle {
    margin-top: 4px;
  }

  .preview-container {
    margin-bottom: 115px;
  }

  .preview-side-menu {
    padding-right: 35px;
  }

  .preview-content-center {
    h2 {
      margin-top: 0px !important; // Resets to KTH Style
      margin-bottom: 0 !important; // According to sketch
    }
    .title-and-info {
      h3 {
        margin-top: 24px !important; // Resets to KTH Style
        margin-bottom: 10px !important; // Resets to KTH Style
      }
    }
  }

  .right-block-for-extra {
    border-left: 1px solid var(--color-border);
    padding-left: 30px;
  }

  .extra-heading-form {
    width: 100%;
    .form-control-label {
      @include typography.font-heading-xs;
      display: block;
      margin-bottom: 0.25rem;
    }
  }

  .modal-body {
    @include prose.prose;
    div > :first-child {
      margin-block-start: 0;
    }
    div > :last-child {
      margin-block-end: 0;
    }
  }

  .error-area {
    outline: solid 1px var(--color-error);
    outline-offset: 10px;
  }
  .error-label {
    color: var(--color-error);
  }

  //tiny mce editor
  $personal-menu-height: 41px;
  $tab-menu-height: 35px;
  $tab-menu-top-bottom-padding: 40px;
  $editor-menu-offset: $personal-menu-height + $tab-menu-height + $tab-menu-top-bottom-padding;
  .memo-content {
    .tox.tox-tinymce.tox-tinymce--toolbar-sticky-on {
      padding-top: $editor-menu-offset;
      .tox-editor-header {
        margin-top: $editor-menu-offset;
      }
    }
  }

  .mce-content-body {
    margin: 8px;
    background-color: #fff;
    @extend %table-style;
  }

  // Style of section/editor text:
  // .mce-content-body - Text area of Tinymce editor
  // .section-content - Preview of text when editor isn't active (or for required text without editor)
  .mce-content-body,
  .section-content {
    @extend %table-style;
    @include prose.prose;
    p {
      max-width: unset;
    }
    & > :first-child {
      margin-block-start: 0;
    }
    & > :last-child {
      margin-block-end: 0;
    }
    li p {
      margin-block: 0;
    }
  }

  .heading-box {
    margin-top: 0;
    margin-bottom: 2em;
    width: 100%;
    background-color: var(--color-background-alt);
    border: 1px solid transparent;
    display: grid;
    padding: 1em;

    & + & {
      margin-top: 2em;
    }

    &.with-nested {
      padding: 0em;

      .nested-section {
        padding: 1em;
      }

      > .heading-box {
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        margin-bottom: 0;
      }
    }

    .kth-button.secondary {
      background-color: var(--color-background);
    }

    &.ready {
      border: 1px solid var(--color-border);
      border-radius: 0.25rem;
      background-color: #fff;
    }

    &.clickable {
      cursor: pointer;
    }

    .editor {
      display: grid;
      row-gap: 20px;

      details {
        margin: 0;
      }

      button {
        justify-self: right;
      }
    }

    .extra-heading-buttons {
      display: flex;
      justify-content: space-between;
    }

    .no-visible-in-memo {
      opacity: 50%;
    }
  }

  .toggle-editor {
    background-repeat: no-repeat;
    height: 16px;
    width: 20px;
    cursor: pointer;
    display: block;

    &.closed {
      background-image: url('https://app.kth.se/style/static/kth-style/img/kth-style/icons/edit-blue.svg');
    }

    &.opened {
      background-image: url('https://app.kth.se/style/static/kth-style/img/kth-style/icons/close-black.svg');
    }
  }

  .section-heading {
    display: flex;
    column-gap: 1em;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;

    .toggle-editor {
      align-self: flex-start;
    }
  }

  // details/summary
  details {
    summary.grey {
      padding-left: 0;
      background-color: var(--color-background-alt);
      color: var(--color-tertiary);
      &::before {
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iYSIKICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3LjQxIDEyIj4KICA8cGF0aCBkPSJNMCwxMC41OEw0LjU4LDYsMCwxLjQxLDEuNDEsMCw3LjQxLDYsMS40MSwxMmwtMS40MS0xLjQyWiIgc3R5bGU9ImZpbGw6IzAwNmNiNzsiLz4KPC9zdmc+);
      }
    }
    & > :not(summary) {
      @include prose.prose;
    }
  }
}
